main {
	padding: 10px 5px 10px 10px;

	background-color: LightBlue;
	color: Navy;

	display: flex;
	flex-direction: column;
}

#Label {
	margin: 5px;
}

#Column {
	margin: 10px;
	padding: 5px 5px 5px 10px;
	background-color: BurlyWood;
}

